[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = ">=3"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
apispec = {extras = ["yaml"], version = "*"}
apispec-webframeworks = "*"
tox = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
psycopg2 = "==2.8.4"
psycopg2-binary = "==2.8.4"

[dev-packages]

[requires]
python_version = "3.8"
